extends layout 

block main 
  h2 Select a League:
  form(action="/alerts/new/league" method="post")
    dl 
      dt 
        input(type="radio"
                id="NFL"
                name="league"
                value=1)  
        label(for="NFL") National Football League  
        
      dt 
        input(type="radio"
              id="NBA"
              name="league"
              value=2)  
        label(for="NBA") National Basketball Association
      
      dt 
        input(type="radio"
              id="MLB"
              name="league"
              value=3)
        label(for="MLB") Major League Baseball
      
      dt 
        input(type="radio"
              id="NHL"
              name="league"
              value=4) 
        label(for="NHL") National Hockey League
       
    fieldset.actions 
      input(type="submit" value="Continue")
      a(href="/alerts") Cancel    