extends layout-sign-in  

block main 

  form(action=`/users/signin` method="post")
        dl  
          dt 
            label(for="username") e-mail Address: 
          dd 
            input(type="text"
                  name="email"
                  placeholder= (email ? email : "name@doman.com")
                  value=email)
          dt 
            label(for="password") Password: 
          dd 
            input(type="password"
                  name="password"
                  placeholder="password")
        fieldset.actions  
          input(type="submit" value="Sign In")
          a(href="/users/register") Register    

block signIn